
  <div class="col-md-6">
    <% if @fitting.image.present? %>
      <%= image_tag(@fitting.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag(url_to_image('NoPic'),class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @fitting.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @fitting.pid %>
      </p>
    </div>
    <div> 数量 : <%= @fitting.quantity %> </div>
    <div class="fitting-price"> ￥ <%= @fitting.price %> </div>
    <div class="pull-right">
      <%= link_to("加入定制面板", "#", :class => "btn btn-success btn-lg") %>
    </div>
  </div>
