  <!-- <body class="pdt-inding">
    <div class="productsshow-evey"> -->
      <!--左边产品图片开始-->
    <div id="third-box1" class="col-md-10 col-md-offset-1">
      <div class="col-md-6">
        <% if @fitting.image.present? %>
        <!-- <div id="zoom_01"> -->
          <%= image_tag(@fitting.image.medium.url, class: "img-rounded") %>
        <!-- </div> -->
        <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "img-rounded") %>
        <% end %>
      </div>
      <!--左边产品图片结束-->
      <!--右边产品文字介绍开始-->
      <div class="col-md-6">
        <h2> <%= @fitting.title %> </h2>
        <div style="height:100px;">
          <p>
            <%= @fitting.pid %>
          </p >
          <hr>
        </div>
        <% if @fitting.quantity.presence %>
          <div> 规格 : <%= @fitting.spec %> </div><br>
          <div> 数量 : <%= @fitting.quantity %> </div><br>
        <% end %>
        <div class="product-price"> ￥ <%= @fitting.price %>/m </div>
        <!--加入购物车开始-->
        <br><br><hr>
        <div style="margin-top:10px;">
            <%= link_to("就选这个", add_to_custom_board_fitting_path(@fitting), :method => :post, :class => "btn btn-lg btn-warning") %>
        </div>
        <!--加入购物车结束-->
      </div>
      <!--右边产品文字介绍开始-->
    </div>
  <!-- </div> -->
  <br><br>

  <!-- <script type="text/javascript">
    $('#zoom_01').elevateZoom();
  </script> -->
