<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2> Edit Fitting </h2>

    <%= simple_form_for [:admin, @fitting] do |f| %>
      <%= f.input :title %>
      <%= f.input :pid %>
      <%= f.input :category, collection:["样式", "布料", "罗马杆"], include_blank: false %>
      <%= f.input :quantity %>
      <%= f.input :price %>
      <% if @fitting.image.present? %>
        <span>目前商品图</span>
        <%= image_tag(@fitting.image.thumb.url) %>
      <% end %>
      <%= f.input :image, as: :file %>

      <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
    <% end %>
  </div>
</div>
