

  <!--订单填写页内容开始-->
      <div class="col-md-12 ">

        <h2>购物明细</h2>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>价格</th>

            </tr>
          </thead>
          <tbody>

            <% current_user.designs.each do |design| %>
            <tr>
              <td> <%= link_to(design.title, account_design_path(design)) %> </td>
              <td> <%= design.total_price %> </td>

            </tr>
            <% end %>

          </tbody>
        </table>

        <div class="total clearfix">
          <span class="pull-right">
            <% sum = 0 %>
            <% current_user.designs.each do |design| %>
              <% sum += design.total_price %>
            <% end %>
            总计 <%= sum %> CNY
          </span>
        </div>

        <hr>

        <h2> 订单资讯 </h2>

        <div class="order-form">
          <%= simple_form_for @order do |f| %>

            <legend> 订购人 </legend>
            <div class="from-group col-lg-6">
              <%= f.input :billing_name %>
            </div>
            <div class="from-group col-lg-6">
              <%= f.input :billing_address %>
            </div>

            <legend> 收货人 </legend>
            <div class="from-group col-lg-6">
              <%= f.input :shipping_name %>
            </div>
            <div class="from-group col-lg-6">
              <%= f.input :shipping_address %>
            </div>

            <div class="checkout">
              <%= f.submit "生成订单", class: "btn btn-lg btn-warning fa fa-shopping-cart pull-right",
                          data: {disable_with: "Submitting..."} %>
            </div>

          <% end %>
          <br><br>
        </div>
      </div>
  <!--购物车内容结束-->
