<body>
<!--navbar内容开始-->
<div id="nav2_war">
      <h1><a href="/"></a></h1>
</div><br><br>
<!--navbar内容结束-->



<!--产品列表内容开始-->
<div id="products">
    <div id="product1" style="margin-left: 20px; margin-buttom: 20px; border-radius: 8px; ">
      <% @products.each do |product| %>
        <div class="col-xs-6 col-md-3">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url) %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class:"thumbnail") %>
            <% end %>
          <% end %>
          <%= product.title %> ￥ <%= product.price %>
          <br><br><br>
        </div>
      <% end %>
    </div>
</div>
<!--产品列表内容结束-->
</body>

<!--产品图片飞入效果开始-->
<script>
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
$(".thumbnail").mouseenter(function () {
    $(this).fadeOut(300).fadeIn(100)
})
</script>
<!--产品图片飞入效果结束-->
