<!--产品内容开始-->
<body class="pdt-inding container">
  <div class="person col-md-12">
    <div class="row content-2">


                <div class="products-evey ">

                  <!--产品图片内容开始-->

                  <% @products.each do |product| %>
                  <div class="person col-xs-6 col-md-4">
                    <%= link_to product_path(product) do %>
                        <% if product.image.present? %>
                          <%= image_tag(product.image.thumb.url, class: "avatar") %>
                        <% else %>
                          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "avatar") %>
                        <% end %>
                    <% end %>
                    <!--产品图片内容结束-->

                    <!--产品介绍内容开始-->
                    <div class="name">
                       <em>【<%= product.title %>】</em>
                       <span class="" style="color:orange;font-weight:bold;">¥ <%= product.price %></span>
                       <br><%= product.description %>
                        <!--加入购物车开始-->
                        <div style="float:left;position:absolute;top:260px;left:90px;">
                          <%= link_to("", add_to_cart_product_path(product), :method => :post, :class => "btn btn-warning fa fa-shopping-cart") %>
                        </div>
                        <!--加入购物车结束-->
                    </div>
                  </div>
                  <% end %>
                </div>
                <!--产品内容结束-->
    </div>
  </div>

  <script src="http://www.w3schools.com/lib/w3data.js"></script>
  <% yield :handwrite_javascript %>
</body>



<!--产品图片飞入效果开始-->
<script>
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
$(".thumbnail").mouseenter(function () {
    $(this).fadeOut(300).fadeIn(100)
})
</script>
<!--产品图片飞入效果结束-->
