<style media="screen">
  .productsshow-evey{
padding-left: 40px;
padding-right: 40px;
width: 100%;
background-color: grey;
background-image: url("https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg");
background-size: cover;
background-repeat: repeat-y;
  }
  .pdc-description{
    //background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
      padding-top: 30px;
  }
  .reviewbox{
    background-color: rgba(255, 255, 255, 0.8);
    //box-shadow: 1px 1px 1px grey;
    padding-bottom: 30px;
  }
  .heart-e{
    width: 100px;
    height:200px;
  }

</style>
<div class="productsshow-evey">


  <div class="col-md-6" style="padding-top:30px;">
    <% if @product.image.present? %>


    <div id="zoom_01">
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    </div>


    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>

  <div class="col-md-6 pdc-description">
    <h2> <%= @product.title %> </h2>

    <div style="height:100px;">

      <p>
        <%= @product.description %>
      </p >
      <hr>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
  </br>

    <div class="product-price"> ￥ <%= @product.price %> </div>

<!--加入购物车开始-->
    <div class="pull-right" style="margin-top:10px;">
      <% if @product.quantity > 0 %>
    <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-lg btn-warning fa fa-shopping-cart") %>
   <% else %>
    已销售一空
   <% end %>

    </div>

<!--加入购物车结束-->

  </div>

</div>




<script type="text/javascript">
  $('#zoom_01').elevateZoom();
</script>
